@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="container">
	<h1 class="h3">Konversi Satuan Panjang</h1>
	<div class="row mb-3">
		<div class="col-3">
			<input type="number" min="0" step="0.01" class="form-control" placeholder="Angka" />
		</div>
		<div class="col-3">
			<select class="form-select">
				<option value="">Pilih Konversi</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-3">
			<input type="number" min="0" step="0.01" class="form-control" placeholder="Angka" />
		</div>
		<div class="col-3">
			<select class="form-select">
				<option value="">Pilih Konversi</option>
			</select>
		</div>
	</div>
</div>
